body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

link:hover,
link:focus {
  color: #404bbf;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.text {
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
}

.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header .container {
  display: flex;
  width: 1158px;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
}
.nav .list {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.nav .item {
  text-align: center;
  flex: 1;
  text-align: left;
}
.nav .link {
  padding: 24px 0;
}
.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.address .list-address {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.address .item-address {
  text-align: center;
  flex: 1;
  text-align: left;
  padding: 24px 0;
  white-space: nowrap;
}
.address-link {
  padding: 24px 0;
}
.hero-section {
  text-align: center;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 188px 0;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}
.btn {
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 48px auto;
}
.btn:hover,
.btn:focus {
  color: #404bbf;
}

.core-values-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.core-values-section .list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 1158px;
  width: 100%;
}
.core-values-section .item {
  text-align: center;
  flex: 1 1 calc(25% - 24px);
  max-width: 270px;
}

.core-values-section .subtitle {
  text-align: left;
  margin-bottom: 8px;
}
.core-values-section .text {
  text-align: left;
}
.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
  display: flex;
}
.team-section .title {
  padding: 8px 0px;
  margin-bottom: 72px;
}

.team-section .list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-section .item {
  text-align: center;
  flex: 1;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
.worker {
  padding: 32px 0;
}
.worker .subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.worker .text {
  text-align: center;
}
.portfolio-section {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-section .title {
  margin-bottom: 72px;
}
.portfolio-secti .container {
  display: flex;
}
.portfolio-section .list {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-section .item {
  text-align: center;
  flex: 1;
  text-align: left;
}
.application {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.application .subtitle {
  margin-bottom: 8px;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  weight: 264px;
}
.footer .web {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .studio {
  color: #f4f4fd;
}
.footer .text {
  font-weight: 400;
  color: #f4f4fd;
  width: 264px;
}
