body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
.top-line .link {
  text-decoration: none;
}
.top-line .web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.top-line .studio {
  color: #2e2f42;
  text-decoration: none;
}
.top-line .page-nav .link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.top-line .page-nav .link:hover {
  color: #404bbf;
}
.top-line .page-nav .link:focus {
  color: #404bbf;
}
.top-line .address {
  font-style: normal;
}
.top-line .address .link {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.top-line .address .link:hover {
  color: #404bbf;
}
.top-line .address .link:focus {
  color: #404bbf;
}
.hero-section {
  text-align: center;
  background-color: #2e2f42;
}
.hero-section .page-title {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-section .button {
  justify-content: flex-start;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.hero-section .button:hover {
  background-color: #404bbf;
}
.hero-section .button:focus {
  background-color: #404bbf;
}
.core-values-section .page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.core-values-section .core-values .page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.core-values-section .core-values .text {
  letter-spacing: 0.02em;
  color: #434455;
}
.team-section {
  background-color: #f4f4fd;
}

.team-section .item {
  background-color: #ffffff;
}
.team-section .page-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-section .team .item .page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-section .text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-section .page-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-section .portfolio .page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-section .portfolio .text {
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer .web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.footer .studio {
  color: #f4f4fd;
  text-decoration: none;
}
.footer .text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
