body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
.top-line .link {
  text-decoration: none;
}
.top-line .web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.top-line .studio {
  color: #2e2f42;
  text-decoration: none;
}
.page-nav {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-nav:hover {
  color: #404bbf2;
}
.page-nav:focus {
  color: #404bbf;
}
.address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.address .link:hover {
  color: #404bbf5;
}
.address .link:focus {
  color: #404bbf5;
}
.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #2e2f42;
  color: #fff;
  line-height: 1.07;
}
.page-title {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero .button {
  justify-content: flex-start;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.hero .button:hover {
  color: #404bbf;
}
.hero .button:focus {
  color: #404bbf;
}
.section-1 .page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-1 .text {
  letter-spacing: 0.02em;
  color: #434455;
}
.section-2 .team {
  background-color: #f4f4fd;
}
.section-2 .page-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-2 .item {
  background-color: #ffffff;
}
.section-2 .page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-2 .text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-3 .page-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-3 .portfolio .page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-3 .portfolio .text {
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer .web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.footer .studio {
  color: #2e2f42;
  text-decoration: none;
}
.footer .text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
