body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin-left: 156px;
  margin-right: 156px;
  padding: 120px 0;
}

link:hover,
link:focus {
  color: #404bbf;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.text {
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
}

.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}

.page-header .container {
  display: flex;
  width: 1158px;
  align-items: center;
}
.page-header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.page-header .list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 24px 0;
}
.page-header .item {
  text-align: center;
  flex: 1;
  text-align: left;
  gap: 40px;
}
.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.nav .link {
  padding: 24px 0;
}

.hero-section {
  height: 600px;
  padding: 188px 472px 0px;
  text-align: center;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  justify-content: flex-start;
  padding: 16px 32px;
  margin: 48px 163px 188px 164px;
}
.btn:hover,
.btn:focus {
  color: #404bbf;
}

.core-values-section {
  white-space: normal;
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}

.core-values-section .title {
}

.core-values-section .list {
  display: flex;
  width: 1128px;
  gap: 24px;
  justify-content: center;
}
.core-values-section .item {
  text-align: center;
  flex: 1;
}
.team-section {
  background-color: #f4f4fd;
  display: flex;
}
.team-section .title {
  padding: 8px 0px;
}

.team-section .list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-section .item {
  text-align: center;
  flex: 1;
  background-color: #fff;
}

.portfolio-section {
  display: flex;
}
.portfolio-section .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-content: center;
}
.portfolio-section .item {
  text-align: center;
  flex: 1;
  text-align: left;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer .studio {
  color: #f4f4fd;
}
.footer .text {
  font-weight: 400;
  color: #f4f4fd;
}
